{% extends 'mnotes/base.html' %}
{% load static %}

{% block content %}

{% load socialaccount %}
{% get_providers as socialaccount_providers %}
<div class="pageholder">
    <div class="titleholder">
        <div class="title">
            <table class="header">
                <tr>
                    <td><img src="{% static 'mnotes/avatar_def.jpg' %}" alt="Avatar" class="avatar"></td>
                    <td style="padding:10px"><a class="button" href="{% url 'login' %}">Sign in with VK</a></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="linkholder">
        <p style="padding:10px">
            This service allows you to store your favorite memories on a map.
            Log in into your vk account now to start using the service.
        </p>
    </div>
</div>
{% endblock %}