{% extends 'mnotes/base.html' %}
{% block content %}

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<script> 
// Initialize and add the map
let map;

async function initMap() {
  // The location of Uluru
  const position = { lat: 56, lng: 60 };
  // Request needed libraries.
  //@ts-ignore
  const { Map } = await google.maps.importLibrary("maps");
  const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

  // The map, centered at Uluru
  map = new Map(document.getElementById("map"), {
    zoom: 8,
    center: position,
    mapId: "DEMO_MAP_ID",
  });

  // The marker, positioned at Uluru
  const marker = new AdvancedMarkerElement({
    map: map,
    position: position,
    title: "Uluru",
  });
}

initMap();

</script>

<div class="pageholder">
    <div class="titleholder"> 
        
        <div class="title"> Google Maps API Displaying Markers on the Map </div> 
        
    </div>


    <div class="linkholder">
        <div class="mapholder"> 
            <div id="map"> </div>

            <script async
                src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap">
            </script>

        </div>
        
     </div>


    <div class="linkholder">  
        <a href="{% url 'notes' %}"> Go to our homepage</a>

    </div>



</div>


{% endblock %}