{% extends 'mnotes/base.html' %}
{% load static %}

{% block content %}

<div class="pageholder">
    <div class="titleholder">
        <div class="title">
            <table class="header">
                <tr>
                    <td><img src="{% static 'mnotes/avatar_def.jpg' %}" alt="Avatar" class="avatar"></td>
                    <td style="padding:10px">{{ user.first_name|default:'Guest' }} {{ user.last_name|default:'' }}</td>
                    <td style="text-align:right"><a href="{% url 'logout' %}">Log Out</a></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="linkholder">
        {% if notes.count == 0 %}
            <div>You have no memories</div>
        {% else %}
            <table id="ourtable3" class="myTable m-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Published</th>
                        <th>place_point</th>
                        <th>options</th>

                    </tr>
                </thead>

                <tbody>
                    {% for note in notes %}
                    <tr>
                        <td> {{note.id}} </td>
                        <td> {{note.title}} </td>
                        <td> {{note.description}} </td>
                        <td> {{note.date_published}} </td>
                        <td> {{note.map_pin_point}} </td>
                        <td> <a href="{% url 'note_delete' note.id %}">delete</a> </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
     </div>
    <div class="linkholder">
        <a href="{% url 'map' %}">Make a note</a>
    </div>
</div>

{% endblock %}
